/* ==========================================================================
Main page styles
========================================================================== */
.pink-background {
  background-color: #E5BBBE;
}

.logo {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/charm_submarca.png') no-repeat center top;
  background-size: contain;
}
